body{
    background-color: grey;
}

h1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    color: rgb(224, 208, 178);
}

.container{
    max-width: 400px;
    margin: 20px auto 0 auto;
    box-shadow: 0px 0px 15px 10px rgb(176, 174, 174);
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px) repeat(5, 100px);
    justify-content: center;
    align-content: center;
    padding: 50px;
    border-radius: 60px;
}

.span {
    grid-column: span 2;
}

.displayPanel {
    grid-column: 1 / -1;
    border-radius: 5px;
}

#small-display{
    text-align: right;
    height: 5px;
    line-height: 20px;
    padding-right: 20px;
    font-size: 10px;
    padding-top: 10px;
    background-color: whitesmoke;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#display{
    text-align: right;
    height: 60px;
    line-height: 70px;
    padding-right: 20px;
    font-size: 25px;
    background-color: whitesmoke;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}


/* #clear{
    border-top-left-radius: 5px;
}

#divide{
    border-top-right-radius: 5px;
}

#decimal{
    border-bottom-left-radius: 5px;
} */

#equal{
    /* border-bottom-right-radius: 5px; */
    background-color: rgb(4, 161, 213);
}

#equal:hover{
    background-color: rgb(143, 138, 138);
    color: white;
}

button{
    border: 0.5px solid #999;
    line-height: 75px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    border-radius: 10px;
}

button:hover{
    background-color: rgb(143, 138, 138);
    color: white;
    /* transition: 0.5s ease-in-out; */
}

@media screen and (width <= 500px){
    button{
        text-align: center;
        display: grid;
    }
    .container{
        box-shadow: 0px 0px 15px 10px rgb(176, 174, 174);
        display: grid;
        grid-template-columns: repeat(4, 70px);
        grid-template-rows: minmax(120px) repeat(5, 70px);
        justify-content: center;
        align-content: center;
        /* border-radius: 5px; */
    }
    button:hover{
        background-color: rgb(143, 138, 138);
        color: white;
    }
}